.principal-list{
    margin:0px auto;
}

.list-item{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    margin:40px;
}

   
    
    
